* {
  font-family: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  background: linear-gradient(to top, #fff, #b8fafa);
  margin: 0;
  padding: 0;
  height: 100%;
}

.load-container {
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all 1s ease;
  z-index: 10000;
}

#load {
  border: 15px solid #ccc;
  border-top-color: #0259d1;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* HEADER  */

.titulo-container {
  display: flex;
  flex-flow: row wrap;
  padding: 0.6rem;
  width: 100%;
  height: 50.33rem;
}

.nav-flex {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  width: 100%;
  height: 2.67rem;
  padding: 1rem;
  border-bottom: 3px double #000;
}

.nav-flex i,
a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #0259d1;
}

.nav-flex a:hover {
  border: 1.5px solid #000;
  border-radius: 30px;
  padding: 0.5rem;
  font-size: 20px;
  color: rgb(0, 0, 0);
  transition: all 0.3s;
}

.titulo-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  order: 10;
  transform: translateY(-100px);
}

#titulo {
  opacity: 0;
  transform: scale(0.5);
  transition: 2s ease-in-out all;
  transform: translateX(-500px);
}

#titulo.visible {
  opacity: 1;
  transform: scale(1);
}

#titulo-descripcion {
  opacity: 0;
  transform: scale(0.5);
  transition: 2s ease-in-out all;
  transform: translateX(500px);
}

#titulo-descripcion.visible {
  opacity: 1;
  transform: scale(1);
}

.titulo-flex h1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titulo-flex h3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-titulo {
  width: 14.67rem;
  height: 16.67rem;
  padding: 2px;
  border: 5px double #000;
  border-radius: 80px;
  order: 1;

  opacity: 0;
  transform: scale(0.9);
  transition: 0.8s ease-in-out all;
}

.img-titulo.visible {
  opacity: 1;
  transform: scale(1);
  transform: translateY(50px);
}

.fotocv {
  padding: 1.2rem;
  margin: auto;
  transform: translateY(-100px);
}

/* Main */

.section-container {
  margin-top: 1rem;
  width: 100%;
  height: 40rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  border-top: 3px double #000;
  border-bottom: 3px double #000;
}

.flex-aside {
  padding: 0 3.33rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  order: 20;
  border-left: 2px solid #000;
}

#sobre-mi {
  opacity: 0;
  transform: scale(0.6);
  transition: 1s ease-in-out all;
  transform: translateX(6.66rem);
}

#sobre-mi.visible {
  opacity: 1;
  transform: scale(1);
  transform: translateX(0px);
}

.flex-aside h2 {
  margin: 0;
  font-size: 30px;
  color: #0259d1;
}

.flex-aside p {
  font-size: 20px;
}

.flex-portfolio {
  padding: 0 3.33rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  order: 2;
  border-right: 2px solid #000;
}

#portfolio {
  opacity: 0;
  transform: scale(0.6);
  transition: 1s ease-in-out all;
  transform: translateX(-6.66rem);
}

#portfolio.visible {
  opacity: 1;
  transform: scale(1);
  transform: translateX(0px);
}

.flex-portfolio h2 {
  color: #0259d1;
  font-size: 30px;
}

/* CONTACTO  y FOOTER*/

.flex-contact {
  width: 100%;
  height: 16rem;
  padding: 1.33rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-contact h2 {
  color: #0259d1;
  font-size: 30px;
  margin: auto;
  padding: 30px;
}

.flex-contact p {
  font-size: 20px;
  margin: auto;
  padding: 20px;
}

.social-container {
  width: 100%;
  height: 13.33rem;
  padding: 2rem;
  margin: 1.33rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: center;
}

.social {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: rgb(135, 206, 250);
}

.social i,
.social a {
  color: #fff;
  font-size: 20px;
}

.firma {
  font-size: 13px;
}
